.grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.flex{
    display: flex;
    flex-direction: row;
    gap: 10%;
    justify-content: center;
}

#mapid { 
    height: 75vh; 
    width: 90vw;
    margin: auto;
    margin-top: 5%;
    z-index: 0;
}
.travels__button {
    color: #FFF;
    border: 1px solid #FFF;
    background-color: transparent;
    border-radius: 5px;
    padding: 1%;
    text-align: center;
    font-weight: bolder;
}

.link{
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

.travels {
    height: 5vh;
    width: 97vw;
    grid-column: 1/10;
}
