<div id="mapid"></div>
<div class="travels flex">
    <div class="link travels__button" >
        <img src="../..//assets/usser.png" class="imgUsser"> <br>
        <label>Start:</label>
        <label type="text" class="form link" contenteditable="false">{{startingPoint}}</label><br>
        <label type="text" class="form smallertext" contenteditable="false">{{startingCoords}}</label><br><br>
        <label class="form link">Destiny:</label>
        <label type="text" class="form link" contenteditable="false">{{arrivalPoint}}</label><br>
        <label type="text" class="form smallertext" contenteditable="false">{{arrivalCoords}}</label><br><br>
        <label type="text" class="form link" contenteditable="false">{{cost | currency}}</label><br><br>
        <a class="link travels__button button" (click)="saveTravel()">Confirm</a><br><br></div>
    <a class="link travels__button button" [routerLink]="['/travels']" routerLinkActive="router-link-active">Go to travels</a>
    <a class="link travels__button button" routerLinkActive="router-link-active" (click)="logout()">Log out</a>
</div>
