#mapid { 
    height: 85vh; 
    width: 90vw;
    margin: auto;
    margin-top: 5%;
    z-index: 0;
}
.travels__button {
    color: #FFF;
    border: 1px solid #FFF;
    background-color: transparent;
    border-radius: 5px;
    font-size: 18px;
    padding: 1%;
    text-decoration: none;;
    text-align: center;
    font-weight: bolder;
}
.travels {
    width: 100vw;
}
