.grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.flex{
    display: flex;
    flex-direction: column;
    gap: 10%;
    justify-content: center;
}

#mapid { 
    height: 97vh; 
    width: 73vw;
    margin: auto;
    margin-top: 1%;
    margin-left: 26%;
    z-index: 0;
}
.travels__button {
    color: #FFF;
    border: 1px solid #FFF;
    background-color: transparent;
    border-radius: 5px;
    padding: 3%;
    text-align: center;
    font-weight: bolder;
}

.link{
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

.travels {
    height: 15vh;
    width: 25vw;
    margin-top: -32%;
}

.form{
    margin: 10px;
    padding: 2%;
    border: none;
    font-size: 20px;
}

.imgUsser{
    height: 150px;
    width: 150px;
    margin-bottom: 8%;
}