<div class="container grid">
    <div class="back-grid">
      <div class="back-screen grid">
        <div class="back__sign-up grid-ind">
          <h2 class="title">Don't have an account?</h2>
          <p class="back__text">Create one in just a few seconds! Or connect with another account to access to the quickest service for your travels!</p>
          <a class="back__button" (click)="changePositionLogIn()">SIGN UP</a>
        </div>
        <div class="back__log-in grid-ind">
          <h2 class="title">Have an account?</h2>
          <p class="back__text">Connect with an alternative account or using your e-mail to access to the quickest service for your travels!</p>
          <a class="back__button" (click)="changePositionSignUp()">LOG IN</a><br>
        </div>
      </div>
    </div>
      <div class="front grid">
        <section class="sign-up grid-ind" id="sign-up-front">
          <h2 class="title front-title">SIGN UP</h2>
          <div class="form grid-ind">
            <input type="text" placeholder="Full Name" class="form__input" [(ngModel)]="username" required="">
            <p id="errorName" class="form__error-name">This field is required</p>
            <input type="email" placeholder="Email" class="form__input" [(ngModel)]="email" required="">
            <p id="errorEmailReq" class="form__error-email-req">This field is required</p>
            <p id="errorEmailChar" class="form__error-email-char">This must be an email</p>
            <input type="password" placeholder="Password" class="form__input" [(ngModel)]="password" required="" minlength="8">
            <p id="errorPassReq" class="form__error-password-req">This field is required</p>
            <p id="errorPassChar" class="form__error-password-char">The password must have at least 8 characters</p>
            <input type="password" placeholder="Repeat Password" class="form__input" [(ngModel)]="repeatPassword" required="">
            <p id="errorRepPassReq" class="form__error-repeatPassword-req">This field is required</p>
            <p id="errorRepPassChar" class="form__error-repeatPassword-char">The passwords don't match</p>
          </div>
          <div class="button-div grid-ind">
            <button type="submit" class="front__button" (click)="addUser()">SIGN UP</button>
          </div>
        </section>
        <section class="log-in grid-ind" id="log-in-front">
          <h2 class="title front-title">LOG IN</h2>
          <div class="form grid-ind">
            <input type="email" placeholder="Email" class="form__input" [(ngModel)]="emailLogIn" required="">
            <input type="password" placeholder="Password" class="form__input" [(ngModel)]="pass" required="">
            <p id="error__logIn" class="form__error-login">The email or password is incorrect</p>
          </div>
          <div class="button-div grid-ind">
            <button type="submit" class="front__button" (click)="logIn()">LOG IN</button>
          </div>
        </section>
      </div>
  </div>