<div class="container grid">
  <div class="back-grid">
    <div class="back-screen grid">
      <div class="back__sign-up grid-ind">
        <h2 class="title">Don't have an account?</h2>
        <p class="back__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut maxime expedita aliquid non perferendis dignissimos saepe necessitatibus ex dolores quisquam.</p>
        <a class="back__button">SIGN UP</a>
      </div>
      <div class="back__log-in grid-ind">
        <h2 class="title">Have an account?</h2>
        <p class="back__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut maxime expedita aliquid non perferendis dignissimos saepe necessitatibus ex dolores quisquam.</p>
        <a class="back__button">LOG IN</a>
      </div>
    </div>
  </div>
    <div class="front grid">
      <section class="sign-up grid-ind">
        <h2 class="title front-title">SIGN UP</h2>
        <div class="form grid-ind">
          <input type="text" placeholder="Full Name" class="form__input">
          <input type="text" placeholder="Email" class="form__input">
          <input type="password" placeholder="Password" class="form__input">
          <input type="password" placeholder="Repeat Password" class="form__input">
        </div>
        <div class="button-div grid-ind">
          <button class="front__button">SIGN UP</button>
        </div>
      </section>
      <section class="log-in grid-ind">
        <h2 class="title front-title">LOG IN</h2>
        <div class="form grid-ind">
          <input type="text" placeholder="Email" class="form__input">
          <input type="password" placeholder="Password" class="form__input">
        </div>
        <div class="button-div grid-ind">
          <button class="front__button">LOG IN</button>
        </div>
      </section>
    </div>
</div>
