<div class="container">
  <div>
    <div class="back-screen">
      <div class="back__sign-up">
        <h2 class="back__title">Don't have an account?</h2>
        <p class="back__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut maxime expedita aliquid non perferendis dignissimos saepe necessitatibus ex dolores quisquam.</p>
        <button class="back__button">SIGN UP</button>
      </div>
      <div class="back__log-in">
        <h2 class="back__title">Have an account?</h2>
        <p class="back__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut maxime expedita aliquid non perferendis dignissimos saepe necessitatibus ex dolores quisquam.</p>
        <button class="back__button">LOG IN</button>
      </div>
    </div>
    <div class="front">
      <section class="sign-up">
        <h2 class="front__title">SIGN UP</h2>
        <div class="form">
          <input type="text" placeholder="Full Name">
          <input type="text" placeholder="Email">
          <input type="password" placeholder="Password">
          <input type="password" placeholder="Repeat Password">
        </div>
        <button class="front__button">SIGN UP</button>
      </section>
      <section class="log-in">
        <h2 class="front__title">LOG IN</h2>
        <div class="form">
          <input type="text" placeholder="Email">
          <input type="password" placeholder="Password">
        </div>
        <button class="front__button">LOG IN</button>
      </section>
    </div>
  </div>
</div>
