<div class="container">
  <div class="row">
    <div class="col col-lg-4 col-md-12">
      <h1>Add/Edit product</h1>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Product Name">
      </div>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Branch">
      </div>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Category">
      </div>
      <div class="input-group mb-3">
        <input type="number" class="form-control" placeholder="Price">
      </div>
      <div class="input-group mb-3">
        <input type="number" class="form-control" placeholder="Lot">
      </div>
      <div class="input-group mb-3">
        <input type="number" class="form-control" placeholder="Size">
      </div>
      <button class="btn btn-danger">Delete</button>
      <button class="btn btn-primary">Save</button>
    </div>
    <div class="col col-lg-8 col-md-12">
      <h1>Products</h1>
      <p>Product List</p>
    </div>
  </div>
</div>
