<div class="travels flex">
    <div class="link contenedor flex" >
        <img src="../..//assets/quicklogo.png" class="imglogo">
        <a class="link button" [routerLink]="['/map']" routerLinkActive="router-link-active" >Return to map</a>
    <a class="link travels__button button" routerLinkActive="router-link-active" (click)="logout()">Log out</a>
    </div>
    
</div>
<div class="table_title"><h1>Your trips</h1></div>
<div>
    <div>
        <div>
            <table class="table link">
                <tr>
                    <th class="table_travels">Date</th>
                    <th class="table_travels">Start point</th>
                    <th class="table_travels">Destination</th>
                    <th class="table_travels">Cost</th>
                </tr>
                <tr *ngFor="let t of travelForUser">
                    <td>{{t.date}}</td> 
                    <td>{{t.startCoords['0']}}, {{t.startCoords['1']}}</td>
                    <td>{{t.destinyCoords['0']}}, {{t.destinyCoords['1']}}</td>
                    <td>{{t.cost | currency}}</td>
                </tr>
            </table><br><br>
        </div>
    </div>
</div>
