<div class="travels flex">
    <div class="link contenedor" >
        <br><div><img src="../..//assets/usser.png" class="imgUsser"></div>
        <label>User's name</label> <br><br>
    </div>
    <a class="link button" [routerLink]="['/map']" routerLinkActive="router-link-active" >Return to map</a>
    <a class="link travels__button button" routerLinkActive="router-link-active" (click)="logout()">Log out</a>
</div> 
<div class="table link">
    <div>
        <div>
            <h1>Your trips</h1>
            <table>
                <tr>
                    <th class="table_travels">Date</th>
                    <th class="table_travels">Start point</th>
                    <th class="table_travels">Destination</th>
                    <th class="table_travels">Cost</th>
                </tr>
                <tr *ngFor="let t of travel">
                    <td>{{t.date}}</td>
                    <td>{{t.startCoords}}</td>
                    <td>{{t.destinyCoords}}</td>
                    <td>{{t.cost | currency}}</td>
                </tr>
            </table><br><br>
        </div>
    </div>
</div>
